<ul>
  <li>
    <a routerLink="villains">Villains</a>
  </li>
  <li>
    <a routerLink="powers">Powers</a>
  </li>
</ul>
<router-outlet></router-outlet>

<hr />
<a href="https://github.com/wingsuitist/villains/blob/master/README.md">Angular 2 villain tutorial using angular-cli</a> |
<a href="https://github.com/wingsuitist/villains/">Code on Github</a> |
<a href="https://twitter.com/wingsuitist">Follow me on Twitter</a> |
<a href="https://www.letsboot.com/angular2">Angular 2 Trainings Zürich</a>
